.content{
    background-color: #f9f9f9;
    height: 100vh;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 1%;
}

.containerProducts{
    background-color: #f9f9f9;
    display: flex;
    flex-flow: row wrap;
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 16px
}