.topMenu{
    background-color: #0F52BA;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.cartButton {
    width: 90px;
    height: 45px;
    border-radius: 8px;
    border: none;
}

.itensEsquerda{
    display: flex;
    gap: 3px;
    color: white;
}

